# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Unit tests / coverage reports
.coverage
.cache
coverage.xml

# Mypy cache
.mypy_cache/

.idea/workspace.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/firs-iln.iml
